tbody tr {
  cursor: pointer;
}

.select2 {
  width: auto !important;
}

.form-control.select2{
  position: unset !important;
}

li.dropdown-language span.language {
	color: #c6cfda;
}

img.icon-car, img.icon-parking, img.icon-user {
	width: 24px;
	height: 20px;
}